body {
    text-align: center;
    background-color: olivedrab;
  }
  
h3 {
  border: 2px;
  border-style: solid;
  padding: 2px;
  background-color: green;
}

#greeting {
  border: 2px;
  border-style: solid;
  padding: 2px;
  background-color: red;
}

.text {
  border: 2px;
  border-style: solid;
  padding: 2px;
  background-color: orange;
}

.text2 {
  border: 2px;
  border-style: solid;
  padding: 2px;
  background-color: lightcoral;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

#status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

#status-message {
  font-weight: normal;
}

#notes-container {
  max-width: 600px;
  margin: 20px auto;
}

#notes-list {
  list-style: none;
  padding: 0;
}

.note {
  margin-bottom: 10px;
}

.delete-icon {
  color: red;
  cursor: pointer;
}